{% extends 'admin/master.html' %}

{% block body %}
<style>.middle{
  padding-left:50px;
  background-color:#ffff66;
  }</style>
  <div class="middle">
<h2>Instructions: </h2>
<h2>Here Admin can able to see all the user details and edit,delete the details</h2>
<h3>The Process of Validating the Exam Registration Form submitted by user :</h3>
    <p>1) Go to User tab and check details of a particular user</p>
    <p>2) Then Go to ExamRegistration tab and check details of a particular user and copy the "Aadhar card" document name and "Documents" name</p>
    <p>3) Then go to  user_documents > then look for copied file of a particular user</p>
    <p>4) Then Open it and check it properly with the user details </p>
    <p>5) If All details and documents are correct then go to user tab again</p>
    <p>6) Then click on edit icon of a particular user and in " e_d " field enter "Yes" and save it</p>
    <p>7) If user submitted documents are not valid along with it's details then dont do anything </p>
    <br>
</div>
{% endblock %}