{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
	<title>Contact V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/base/contact_main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100" >
		<div class="wrap-contact100">

				<span class="contact100-form-title">
					Contact Us
				</span>

				<div class="divContact" style="height: auto;padding-left:120px;font-size:30px" >
                                    <div class="divMenuHd">Contacts </div>
                                    <div class="divContactDet" style="height: auto;">
                                        <strong> Address:</strong>
                                        <br>
                                        Commissioner,<br>
                                        Maharashtra State Examination Council,
                            <br>
                                        1, Dr. Ambedkar Road,
                            <br>
                                        Pune - 411001
                            <p class="phone">
                            </p>
                               <strong> Helpline number:
 </strong><br> <strong>1800-267-2233</strong>
                            <br>


                            <p class="email">
                            </p>
                                        <strong>E-mail:</strong><span style="overflow-wrap: break-word;"> <strong>mahatet2019.msce@gmail.com</strong></span>
                                    </div>
                                </div>

		</div>
	</div>

</body>
</html>
{% endblock %}
