{% extends "base.html" %}
{% block content %}
<div align="center">
<div class="PostContent" style="height: auto !important;" align="middle">
<p style="text-align: justify;"><strong>Maharashtra STET Eligibility Details</strong>: Maharashtra Teacher Eligibility Test (MAHATET) Eligibility details are mentioned below…</p>
<p style="text-align: justify;"><strong>I. Nationality:</strong> Candidate must be a citizen of Maharashtra.</p>
<p style="text-align: justify;"><strong>Teacher Eligibility Test – Maharashtra (MAHA-TET) Levels as Follows:</strong></p>
<p style="text-align: justify;">A. I will be for a person who intends to be a teacher for classes 1st-5th (Lower Primary Level).<br>
B. I will be for a person who intends to be a teacher for classes 6th-10th (Upper Primary Level).<br>
C. I will be for a person who intends to be a teacher for classes 11th-12th (Secondary Level) </p>
<p style="text-align: justify;"><strong>II. Eligibility:</strong></p>
<p style="text-align: justify;"><strong>The following persons shall be eligible for appearing in the TET:</strong></p>
<p style="text-align: justify;">i. A person who has acquired the academic and professional qualifications specified in the Government of Maharashtra Resolution.</p>
<p style="text-align: justify;">ii. A person who is pursuing any of the teacher education courses (recognized by the appropriate authority, as the case may be) specified in the Government of Maharashtra Resolution.</p>
<p style="text-align: justify;"><strong>III. Frequency and Validity:</strong></p>
<ul style="list-style-type: circle;">
<li style="text-align: justify;">The Government of Maharashtra will conduct a TET at least once every year.</li>
<li style="text-align: justify;">The Validity Period of TET qualifying certificate is seven years for all categories form the date of award of certificate.</li>

</ul>
<p>&nbsp;</p>
</div>
</div>
{% endblock %}


