{% extends 'user/user_dashboard.html' %}
{% block content %}
<style>
	.middle{
  padding-left:50px;
  background-color:#ffff66;
  }
</style>
<div class="middle">
<h1><marquee  direction="left">Welcome To Maharashtra State Teacher Eligibilty Test</marquee></h1>
<h2>Instructions: </h2>
<p>1) First you need to submit Exam Registration form .</p>
    <p>2) Fill the necessary details on Exam form correctly. </p>
<p>3) You Can also edit your Exam Registration form after you submitted previously.</p>
<p>4) After submitting the Exam Registration form , Your are able to do exam test.</p>
<p>5) For the syllabus of Exam Test , look on home page of our site.</p>
<p>6) You will find syllabus, Old Question papers there.</p>
<p>7) Also Previous year Question papers are given on homepage of our site.</p>
<p>8) Online Timetable will be displayed for your exam.</p>
<p>9) Be present on the day of exam otherwise re-exam will not held.</p>
<p>10) Fill the necesary deatils such as your username,password,Examid,exam date,course.</p>
    <p>11) You have Time limit of <b>30 Minutes</b> for the exam.</p>
<p>12) you have 25 question given in the exam.Select the correct answer of the question and finish the exam within the time.</p>
    <p>13) Each Question is for 2 marks.</p>
<p>14) After Exam, Result will be displayed on your Home Page Tab.</p>
<p>15) Exam Certificate will be available in the Certificate Tab then you can download the certificate from there.</p>
<p>16) All THE BEST FOR YOUR EXAM!</p>
<p>17) Let us known if anyone has issue or you can email your issues.</p>
    <br>
</div>
{% endblock %}